{{!-- <h3 style="color: rgb(78, 115, 219);"> This is login page</h3> --}}

<div class="container">
    <form action="/check" method="post" id="contact">
            <input type="text" name="userName" id="name" placeholder="Username">
            <input type="text" name="password" id="age" placeholder="Password">
            <button class="btn">Submit</button>
    </form>
</div>