<div class="container">
    <form action="/signin" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Join the list</button>
        </div>
    </form>
</div>  