<div class="container">
    <form action="/nl/status" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="checkemail" required>
    </div>
    <button type="submit" class="btn btn-success">Check</button>
    </form>
</div>