<div class="container">
    <form action="/nl/unsub" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="unsubemail" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">I am sure on my decision</label>
    </div>
    <button type="submit" class="btn btn-danger">Un-Subscribe</button>
    </form>
</div>