name: Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PORT: 3000
      DATABASE_CONNECTION_STRING: 'mongodb://mongodb:27017'
      DATABASE_PASSWORD: ''
    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: install deps
        run: npm ci
      - name: run tests
        run: npm run tests
